<div class="app-container">
  <header>
    <img class="pokemon-img" src="logo.png" alt="Pokemon" />
    <span> at </span>
    <img class="devfest-catania-img" src="devfest-catania.png" />
  </header>

  <main>
    <router-outlet />
  </main>

  <footer>
    <span>
      Made by
      <a href="https://www.linkedin.com/in/davide-passafaro/">
        Davide Passafaro
      </a>
      .
    </span>

    <p>
      This demo was shown at
      <a href="https://gdg.community.dev/events/details/google-gdg-catania-presents-devfest-catania-2024-revolution-ai/">
        DevFest Catania 2024
        <img
          src="devfest-catania.png"
          alt="DevFest Catania 2024"
          height="30px"
        />
      </a>
    </p>
  </footer>
</div>
