<div class="app-container">
  <header>
    <img class="pokemon-img" src="logo.png" alt="Pokemon" />
    <span> at </span>
    <!-- <img class="tinyconf-img" src="tinyco.png" alt="AngularTinyConf" /> -->
    <img class="codemotion-img" src="codemotion.png" alt="Codemotion" />
  </header>

  <main>
    <router-outlet />
  </main>

  <footer>
    <span>
      Made by
      <a href="https://www.linkedin.com/in/davide-passafaro/">
        Davide Passafaro
      </a>
      .
    </span>

    <p>
      This demo was also shown at

      <a
        href="https://www.youtube.com/watch?v=nVcerb1tOUA&ab_channel=AngularTinyConf"
      >
        AngularTinyConf2024
        <img src="tinyco.png" alt="AngularTinyConf" height="30px" />
      </a>
      and
      <a
        href="https://conferences.codemotion.com/milan2024/agenda/"
      >
        Codemotion Milan 2024
        <img src="codemotion.png" alt="Codemotion Milan 2014" height="20px" />
      </a>
    </p>
  </footer>
</div>
