<div class="app-container">
  <header>
    <img class="pokemon-img" src="logo.png" alt="Pokemon" />
    <span> at </span>
    <!-- <img class="tinyconf-img" src="tinyco.png" /> -->
    <!-- <img class="codemotion-img" src="codemotion.png" /> -->
    <!-- <img class="angularday-img" src="angularday.svg" /> -->
    <img class="devfest-pescara-img" src="devfest-pescara.webp" />
  </header>

  <main>
    <router-outlet />
  </main>

  <footer>
    <span>
      Made by
      <a href="https://www.linkedin.com/in/davide-passafaro/">
        Davide Passafaro
      </a>
      .
    </span>

    <p>
      This demo was shown at
      <!-- <a
        href="https://www.youtube.com/watch?v=nVcerb1tOUA&ab_channel=AngularTinyConf"
      >
        AngularTinyConf2024
        <img src="tinyco.png" alt="AngularTinyConf" height="30px" /> </a
      >,
      <a href="https://conferences.codemotion.com/milan2024/agenda/">
        Codemotion Milan 2024
        <img
          src="codemotion.png"
          alt="Codemotion Milan 2024"
          height="20px"
        /> </a
      >,
      <a href="https://2024.angularday.it/talks_speakers/#davide-passafaro">
        angularday 2024
        <img src="angularday.svg" alt="angularday 2024" height="30px" />
      </a> -->
      ,<a href="https://devfest.gdgpescara.it/schedule">
        DevFest Pescara 2024
        <img
          src="devfest-pescara.webp"
          alt="DevFest Pescara 2024"
          height="30px"
        />
      </a>
    </p>
  </footer>
</div>
