.app-container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    padding: 10px 20px 0;
    font-family: fantasy;
    font-size: 28px;
  }

  .pokemon-img {
    height: 50px;
  }

  .tinyconf-img {
    width: 73px;
  }

  .codemotion-img {
    padding: 10px 0;
    height: 30px;
  }

  .angularday-img {
    padding: 10px 0;
    height: 50px;
  }

  .devfest-pescara-img {
    padding: 10px 0;
    height: 50px;
  }
}

main {
  width: 100%;
  max-width: 1024px;
  padding-bottom: 30px;
  margin: 0 auto;
}

footer {
  padding: 20px;
  text-align: center;

  p {
    margin-top: 10px;
  }

  p,
  span,
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    display: inline-flex;
  }

  span a {
    padding-left: 5px;
  }

  p a,
  p a img {
    padding: 0 3px 0 5px;
  }
}
